:root {
  --grey: grey;
  --vermelha: #e93d50;
  --dark-grey: darkgrey;
  --branca: #fff;
  --black: black;
  --gold: gold; 
  --luz: rgb(229, 255, 0);
}

body {
  align-items: center;
  background: linear-gradient(45deg, #080808 0%,#757677 100%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
}

h1 {
  color: var(--gold);
  margin-bottom: 20px;
  font-size: 2rem;
}

.keyboard {
  background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%);
  box-shadow: 6px 8px 0 6px #666, 10px 10px 10px #000;
  border-radius: 30px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;
}

.keyboardKey {
  background-color: var(--grey);
  border-radius: 30px;
  box-shadow: 3px 3px 0 var(--black);
  color: var(--branca);
  cursor: pointer;
  height: 120px;
  font-size: 1.75em;
  font-weight: bold;
  line-height: 120px;
  text-align: center;
  width: 120px;
}

.keyboardKey.ativa,
.keyboardKey:active {
  background-color: var(--branca);
  border: 4px solid  var(--grey);
  box-shadow: 3px 3px 0 var(--dark-grey) inset;
  color: var(--black);
  outline: none;
}

.keyboardKey.focus,
.keyboardKey:focus {
  outline: none;
  box-shadow: 1px 1px 10px var(--luz);
}

.keyboardKey.active:focus,
.keyboardKey:active:focus {
  box-shadow: 3px 3px 0 var(--vermelha-escura) inset, 1px 1px 10px var(--luz);
}
